.cards {
    padding: 70px 0 0;
}

.cards__list {
    border: none;
    list-style-type: none;
    padding-left: 0;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    column-gap: 30px;
    row-gap: 60px;
    object-fit: cover;
    grid-template-columns: repeat(3, 1fr);    
}

.cards__info {
    margin: 40px auto;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    color: #A0A0A0;
  }

  .cards__more {
    display: flex;
    margin: 50px auto 80px;
    min-width: 320px;
    min-height: 36px;
    border-radius: 6px;
    background: #F9F9F9;
    padding: 11px 60px 9px;
    border: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1279px) {
    .cards__list {
        padding-bottom: 12px;
        row-gap: 47px;
        grid-template-columns: repeat(2, 1fr);
    }
    .cards__info {
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    .cards {
        padding: 40px 0 0;
    }
    .cards__list {
        padding-bottom: 13px;
        row-gap: 39px;
        grid-template-columns: repeat(1, 1fr);
    }
    .cards__more {
        min-width: 240px;
    }
    .cards__info {
        font-size: 18px;
    }
}