.checkbox {
    margin: 0;
    border: 0;
    padding: 26px 30px 26px 0;
    display: flex;
    align-items: center;
}

.checkbox__line {
    height: 40px;
    min-width: 1px;
    background-color: #CBCBCB;
    margin-right: 30px;
}

.checkbox__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
    width: 0;
    height: 0;
  }

.checkbox__label {
    display: inline-block;
  }

.checkbox__switch {
    display: inline-block;
    position: relative;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    padding-left: 50px;
}

.checkbox__switch::before {
    display: block;
    content: "";
    min-width: 34px;
    min-height: 14px;
    border-radius: 20px;
    background-color: #C4C4C4;
    top: 2px;
    left: 0;
    position: absolute;
    cursor: pointer;
    transition: background-color .3s;
}

.checkbox__switch::after {
    display: block;
    content: "";
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background: #F5F5F5;
    top: 4px;
    left: 2px;
    position: absolute;
    cursor: pointer;
    transition: background-color .3s, left .3s;
}

.checkbox__input:checked + .checkbox__switch::before {
    background-color: #2BE080;
}

.checkbox__input:checked + .checkbox__switch::after {
    background-color: #FFF;
    left: 22px;
}

@media (max-width: 1279px) {
    .checkbox {
        padding: 27px 20px 27px 0;
    }
    .checkbox__line {
        margin-right: 20px;
    }
    .checkbox__switch {
        padding-left: 51px;
    }
}

@media (max-width: 767px) {
    .checkbox {
        position: absolute;
        top: 118px;
        left: calc((100% - 147px)/2);
    }
    .checkbox__switch {
        padding-left: 48px;
        font-size: 11px;
    }
    .checkbox__line {
        display: none;
        

    }
}