.footer {
    padding: 79px 70px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__title {
    color: #A0A0A0;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}

.footer__line {
    margin-top: 20px;
    min-height: 1px;
    width: 100%;
    background-color: #E8E8E8;
}

.footer__text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.footer__row {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
    column-gap: 20px;
}

.footer__content {
    margin: 0;
}

.footer__copyright {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
}

@media (max-width: 1279px) {
    .footer {
        padding: 79px 30px 20px;
    }
}

@media (max-width: 767px) {
    .footer {
        padding: 79px 10px 20px;
    }
    .footer__title {
        font-size: 12px;
    }
    .footer__line {
        margin-top: 21px;
    }
    .footer__text {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 30px;
    }
    .footer__row {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        row-gap: 12px;
    }
    .footer__copyright {
        font-size: 12px;
    }
    .footer__copyright_grey {
        color: #A0A0A0;
    }
}