.nav {
    background-color: #000;
    min-height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list {
    display: flex;
    column-gap: 40px;
    list-style-type: none;
    padding-left: 0;
}

.nav__link {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: white;
}

.nav__link:hover {
    opacity: 0.7;
}

@media (max-width: 767px) {
    .nav__list {
        column-gap: 24px;
    }
    .nav__link {
        font-size: 11px;
    }
}